<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Explore | miligram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mobile.css">
</head>
<body>
    <nav class="navigation">
        <div class="navigation__column">
            <a href="feed.html">
                <img src="images/logo.png" />
            </a>
        </div>
        <div class="navigation__column">
                <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
        <div class="navigation__column">
            <ul class="navigations__links">
                <li class="navigation__list-item">
                    <a href="explore.html" class="navigation__link">
                        <i class="fa fa-compass fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="#" class="navigation__link">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="profile.html" class="navigation__link">
                        <i class="fa fa-user-o fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <h1 class="heading"><span>Canciones</span></h1>
    <main id="explore">
        <ul class="explore__users">
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/Mac-Miller-The-Divine-Feminine.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Mac Miller</span>
                        <span class="explore__full-name">"Love, love, love, love, love"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/perfect.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">One Direction</span>
                        <span class="explore__full-name">"Baby, I'm perfect for you"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/elvis.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Elvis Presley</span>
                        <span class="explore__full-name">"For I can't help falling in love with you"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/lastfirstkiss.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">One Direction</span>
                        <span class="explore__full-name">"Baby, let me be your, let me be your last first kiss"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/dieforyou.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">The Weeknd</span>
                        <span class="explore__full-name">"Baby, I would die for you"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/harryhouse.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Harry Styles</span>
                        <span class="explore__full-name">"Do you think I'm cool too?"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/dondenadie.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Manuel Medrano</span>
                        <span class="explore__full-name">"Tú eres lo que faltaba y siempre quise que estuviera"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/littlethings.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">One Direction</span>
                        <span class="explore__full-name">"Your hand fits in mine like it's made just for me"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/shawnmendes.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Shawn Mendes</span>
                        <span class="explore__full-name">"Holding you is all I think about"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/whatmakesyourbeautiful.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">One Direction</span>
                        <span class="explore__full-name">"You light up my world like nobody else"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/Mac-Miller-The-Divine-Feminine.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Mac Miller</span>
                        <span class="explore__full-name">"You just don't know how beautiful you are"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/youi1d.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">One Direction</span>
                        <span class="explore__full-name">"Nothing can come between you and I"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/shawnmendes.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Shawn Mendes</span>
                        <span class="explore__full-name">"I swear that you've been sent to save me"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/darkred.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Steve Lacy</span>
                        <span class="explore__full-name">"Honey, I belong with you, and only you, baby"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/Mac-Miller-The-Divine-Feminine.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Mac Miller</span>
                        <span class="explore__full-name">"I think you're too divine for my human mind"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/harryhouse.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Harry Styles</span>
                        <span class="explore__full-name">"I just wanna make you happier, baby"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/relojingrato.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">José y el Toro</span>
                        <span class="explore__full-name">"Contigo hasta la eternidad"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                
                <div class="explore__user-column">
                    <img src="images/Mac-Miller-The-Divine-Feminine.jpg" class="explore__avatar"/>
                    <div class="explore__info">
                        <span class="explore__username">Mac Miller</span>
                        <span class="explore__full-name">"I promise I'm not far behind"</span>
                    </div>
                </div>
                <div class="explore__user-column">
                    <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                </div>
            </li>
            <li class="explore__user">
                    
                    <div class="explore__user-column">
                        <img src="images/kevinkaarl.jpg" class="explore__avatar"/>
                        <div class="explore__info">
                            <span class="explore__username">Kevin Kaarl</span>
                            <span class="explore__full-name">"Te siento al cantar y al escuchar cualquier canción"</span>
                        </div>
                    </div>
                    <div class="explore__user-column">
                        <button>Follow</button>
                    </div>
                </li>
                <li class="explore__user">
                        
                        <div class="explore__user-column">
                            <img src="images/fineline.jpg" class="explore__avatar"/>
                            <div class="explore__info">
                                <span class="explore__username">Harry Styles</span>
                                <span class="explore__full-name">"We'll be alright"</span>
                            </div>
                        </div>
                        <div class="explore__user-column">
                            <button onclick="window.location.href = 'https://open.spotify.com/playlist/5QsSXUUREVAuNPVMAaJO3o?si=6e15a8960cec47cf';">Follow</button>
                        </div>
                    </li>
        </ul>
    </main>
    <footer class="footer">
            <div class="footer__column">
                <nav class="footer__nav">
                    <ul class="footer__list">
                        <li class="footer__list-item"><a href="#" class="footer__link">Informacion</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Blog</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Empleo</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Ayuda</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Api</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Ubicaciones</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Privacidad</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Terminos</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Directorio</a></li>
                        <li class="footer__list-item"><a href="#" class="footer__link">Idioma</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer__column">
                <span class="footer__copyright">© 2024 Miligram</span>
            </div>
        </footer>
</body>
</html>