<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feed | miligram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mobile.css">
</head>

<body>
    <nav class="navigation">
        <div class="navigation__column">
            <a href="feed.html">
                <!-- Master branch comment -->
                <img src="images/logo.png" />
            </a>
        </div>
        <div class="navigation__column">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Search">
        </div>
        <div class="navigation__column">
            <ul class="navigations__links">
                <li class="navigation__list-item">
                    <a href="explore.html" class="navigation__link">
                        <i class="fa fa-compass fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="#" class="navigation__link">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </a>
                </li>
                <li class="navigation__list-item">
                    <a href="profile.html" class="navigation__link">
                        <i class="fa fa-user-o fa-lg"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <main id="feed">
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Alto Comedero</span>
                </div>
            </header>
            <img src="images/10.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> 2do cumpleaños juntos y quedo para la historia por el final.
                    </li>
                </ul>
                <span class="photo__time-ago">08/03/2024</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Parque Xibi-Xibi</span>
                </div>
            </header>
            <img src="images/09.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                            <i class="fa fa-heart-o fa-lg"></i>
                        </span>
                    <span class="photo__action">
                            <i class="fa fa-comment-o fa-lg"></i>
                        </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> Nuestro primer 14 de febrero juntos.
                    </li>
                </ul>
                <span class="photo__time-ago">14/02/2024</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Tu casa</span>
                </div>
            </header>
            <img src="images/08.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> Tu primer cumpleaños que celebramos juntos mi amor, ese dia todos estuvieron de aquí para allá
                    </li>
                </ul>
                <span class="photo__time-ago">20/01/2024</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Gral Belgrano</span>
                </div>
            </header>
            <img src="images/07.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> amor amor amor y mucho amor💘.
                    </li>
                </ul>
                <span class="photo__time-ago">16/11/2023</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Norte</span>
                </div>
            </header>
            <img src="images/06.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> Ya viajabamos juntos a todos lados y nunca me arrepentire de ir a todos lados con vos.
                    </li>
                </ul>
                <span class="photo__time-ago">08/10/2023</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Departamento</span>
                </div>
            </header>
            <img src="images/05.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> Mi foto de perfil 😩💘, me encanta esta foto y siempre me encantara
                    </li>
                </ul>
                <span class="photo__time-ago">23/08/2023</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Dique La Cienaga</span>
                </div>
            </header>
            <img src="images/04.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> Nuestro primer mes e hicimos de todo ese dia, me encantó de inicio a fin.
                    </li>
                </ul>
                <span class="photo__time-ago">16/07/2023</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Parque Xibi-Xibi</span>
                </div>
            </header>
            <img src="images/03.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> Primera foto siendo oficialmente novios, despues de ir a cenar y proponertelo en el parque debido a tu apuro, te amo
                    </li>
                </ul>
                <span class="photo__time-ago">16/06/2023</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Ciudad Cultural</span>
                </div>
            </header>
            <img src="images/02.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> Poco a poco nos volviamos inseparables.
                    </li>
                </ul>
                <span class="photo__time-ago">01/06/2023</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
        <div class="photo">
            <header class="photo__header">
                <img src="images/04 - copia.jpg" class="photo__avatar" />
                <div class="photo__user-info">
                    <span class="photo__author">160623</span>
                    <span class="photo__location">Parque Xibi-Xibi</span>
                </div>
            </header>
            <img src="images/01.jpg" />
            <div class="photo__info">
                <div class="photo__actions">
                    <span class="photo__action">
                        <i class="fa fa-heart-o fa-lg"></i>
                    </span>
                    <span class="photo__action">
                        <i class="fa fa-comment-o fa-lg"></i>
                    </span>
                </div>
                <span class="photo__likes">45 likes</span>
                <ul class="photo__comments">
                    <li class="photo__comment">
                        <span class="photo__comment-author">160623</span> Una de nuestras primeras fotos juntos y el comienzo de nuestra hermosa historia
                    </li>
                </ul>
                <span class="photo__time-ago">29/05/2023</span>
                <div class="photo__add-comment-container">
                    <textarea name="comment" placeholder="Agrega un comentario..."></textarea>
                    <i class="fa fa-ellipsis-h"></i>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__column">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__list-item"><a href="#" class="footer__link">Informacion</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Blog</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Empleo</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Ayuda</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Api</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Ubicaciones</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Privacidad</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Terminos</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Directorio</a></li>
                    <li class="footer__list-item"><a href="#" class="footer__link">Idioma</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__column">
            <span class="footer__copyright">© 2024 Miligram</span>
        </div>
    </footer>
</body>

</html>